openapi: 3.0.0
info:
  description: This API will recieve reading events from user mobile or tablet.
  version: "1.0.0"
  title: Stats API
  contact:
    email: hdhindsa3@my.bcit.ca
tags:
  - name: devices
    description: Operations available to cellphones and tablets
paths:
  /stats:
    get:
      summary: Gets the event stats
      operationId: app.get_stats
      description: Gets Age and gender as well as Height and Weight processsed statistics
      parameters:
        - name: timestamp
          in: query
          description: Limits the number of items on a page
          schema:
            type: string
            format: date-time
            example: 2016-08-29T09:12:33.001Z
      responses:
        '200':
          description: Successfully returned a list of Age and gender events events
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/ReadingStats'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
components:
  schemas:
    ReadingStats:
      required:
      - num_a_g_readings
      - max_a_readings
      - num_h_w_readings
      - max_h_readings
      - max_w_readings
      properties:
        num_a_g_readings:
          type: integer
          example: 20
        max_a_readings:
          type: integer
          example: 20
        num_h_w_readings:
          type: integer
          example: 10
        max_h_readings:
          type: integer
          example: 150
        max_w_readings:
          type: integer
          example: 250
      type: object  